@import "Fonts.css";

.text{
    -fx-font-family: "Roboto Light";
}
.text-header{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 15px;
}
.text-bold{
    -fx-font-family: "Roboto Bold";
}
.text-italic{
    -fx-font-family: "Roboto Light";
    -fx-font-style: italic;
}
.pane{
    -fx-focus-color:  lightgray;
}
.window, #window{
    -fx-border-color: lightgray;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}
.round-edge-pane{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color:  #d76262;
    -fx-border-width: 0.5;
}
.scan_to_assign{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color:   #2a313a;
    -fx-border-width: 1;
}